@model List<MVC.Models.Developer>

@{
    ViewBag.Title = "Index";
}


<body></body>
    <h2>All Developers</h2>
    <ul>
        @foreach (var developer in @Model)
        {
        <li>
            <a href="~/Developer/Details/@developer.DeveloperId">@developer.Name</a>

            @if (developer.Rating > 8)
            {
                <text>REALLY GOOD DEVELOPER!</text>

            }
        </li>
        }
    </ul>
