@model IEnumerable<MVCGamesReviewWebsite.Models.AnGame>

@{
    ViewBag.Title = "Index";
}

<body>
<h2>Index</h2>

<ul>
    @foreach (var game in @Model)
    {
        <li>@game.Name</li>
    }
</ul>
</body>

