@model IEnumerable<MVCGamesReviewWebsite.Models.AnGame>

@{
    ViewBag.Title = "Index";
}

<body>
<h2>Index</h2>

<ul>
    @foreach (var game in @Model)
    {
    <li>
        <a href="~/AnGames/Details/@game.Id">@game.Name</a>
        <img src="@game.ImgSrc" alt="@game.Genre.Name">
        @if (game.Price < 100)
        {
            <text>Very Cheap!</text>
        }

    </li>
    }
</ul>
</body>

