@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Games Review Website</h1>
      
    </div>

    <div class="row">

        <h2>Search for a game</h2>
        <input type="text" /> <br /><br />
        <input type="image" src="https://imageog.flaticon.com/icons/png/512/49/49116.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" width="80" height="50"></input>


        <h2>Popular Games Right Now</h2>
        <div class="container">
            <input type="image" img src="https://cdn.moble.com/w/89/162101/file/image14.png" width="200" height="200">
            <h4>John Stevens: Great Game!</h4>
            <h4>James Stacey: Endless gameplay!</h4>
        </div>
        <div class="container">
            <input type="image" img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4c/Quake1cover.jpg/220px-Quake1cover.jpg" width="200" height="200">
            <h4>Rodger Sparks: Outdated Graphics :(</h4>
            <h4>Amy Johnson: Very Cheap</h4>
        </div>
        <p>

        </p>
        <h2>Why not leave a review of your own ?</h2>
        <p><a href="" class="btn btn-primary btn-lg">Create a review &raquo;</a></p>




    </div>