@model IEnumerable<GameReview.Models.AnGame>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var game in @Model)
    {
        <li>
            <a href="~/AnGames/Details/@game.GameId">@game.Name</a>
            <img src="@game.ImgSrc" alt="@game.Genre.Name">
            @if (game.ListReview.Count == 2)
            {
                <text>Multiple Reviews!</text>
            }

        </li>
    }
</ul>
