@model gamesreviewwebsite.Models.AnDeveloper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<h1> @Model.Name</h1>
<p>Description:@Model.Description</p>

<h3>Games Worked On:</h3>
@foreach (var gameworkedon in @Model.GamesDeveloped)
{

    <h3><a href="~/AnGames/Details/@gameworkedon.GameId">Developed @gameworkedon.Name.</a></h3>
}