@model IEnumerable<gamesreviewwebsite.Models.AnDeveloper>

@{
    ViewBag.Title = "Index";
}

<h2>Developers</h2>

<ul>
    @foreach (var dev in @Model)
    {
        <li>
            <a href="~/AnDevelopers/Details/@dev.DeveloperId">@dev.Name</a>


        </li>
    }
</ul>

