@model MVC.Models.AnGameModel

@{
    ViewBag.Title = "AnGame";
}

<body>
    <div>
        <h1>@Model.Name</h1>
        <h2>@ViewBag.SubTitle</h2>
        <p><strong>Name:</strong> @Model.Name</p>
        <p>@Model.Platform</p>
    </div>
</body>
