@model IEnumerable<MVCGamesReviewWebsite.Models.Developer>

@{
    ViewBag.Title = "Index";
}

<body>
    <h2>Index</h2>

    <ul>
        @foreach (var dev in @Model)
        {
            <li>
                <a href="~/Developers/Details/@dev.Id">@dev.Name</a>
             

            </li>
        }
    </ul>
</body>
</html>
